<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alinesno.infra.data.report.mapper.BusinessModelMapper">

    <resultMap type="com.alinesno.infra.data.report.entity.BusinessModelEntity" id="BusinessModelResult">
                    <result property="modelName" column="model_name"/>
                    <result property="modelShortName" column="model_short_name"/>
                    <result property="modelParentId" column="model_parent_id"/>
                    <result property="storageFileId" column="storage_file_id"/>
                    <result property="storageFileName" column="storage_file_name"/>
                    <result property="storageFileExtendName" column="storage_file_extend_name"/>
                    <result property="storageFileFullName" column="storage_file_full_name"/>
                    <result property="storageFilePath" column="storage_file_path"/>
                    <result property="storageFileSize" column="storage_file_size"/>
                    <result property="ifDir" column="if_dir"/>
                    <result property="kafkaTopice" column="kafkaTopice"/>
                    <result property="columnNum" column="column_num"/>
                    <result property="columnCnName" column="column_cn_name"/>
                    <result property="columnName" column="column_name"/>
                    <result property="remark" column="remark"/>
            </resultMap>

    <select id="createTable"  resultType="java.lang.Integer">
        ${sql}
    </select>

    <select id="checkTableExistsWithShow"
            resultType="java.util.Map">
        show tables like #{tableName}
    </select>

</mapper>
